<div class="hero-section d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center flex-column flex-lg-row h-100">
        <div class="col-lg-6 col-md-12 text-white text-left text-lg-start">
          <h1 class="display-4 fw-bold">Ahmed Mostafa</h1>
          <p class="lead fs-4">Web Developer & Designer</p>
          <a
          href="assets/Ahmed.pdf"
          class="btn btn-light btn-lg mt-3 btn-cv"
          download="Ahmed.pdf"
          >Download CV</a
        >
        </div>

        <div class="col-lg-6 col-md-12 text-center">
          <div class="ImageHero"></div>
        </div>
      </div>
    </div>
  </div>