<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-left fw-bold">Portfolio</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="text-center text-white portfolio-card">
          <h5>Web Design</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-white portfolio-card">
          <h5>Mobile Design</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-white portfolio-card">
          <h5>Logo Design</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-white portfolio-card">
          <h5>Web App Development</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-white portfolio-card">
          <h5>Mobile App Development</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-white portfolio-card">
          <h5>PWA Development</h5>
        </div>
      </div>
    </div>
  </div>
</section>
